interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.smith.langchain.com/info
  response:
    body:
      string: '{"version":"0.7.29","license_expiration_time":null,"batch_ingest_config":{"scale_up_qsize_trigger":1000,"scale_up_nthreads_limit":16,"scale_down_nempty_trigger":4,"size_limit":100,"size_limit_bytes":20971520},"instance_flags":{"generate_ai_query_enabled":true,"org_creation_disabled":false,"show_ttl_ui":true,"trace_tier_duration_days":{"longlived":400,"shortlived":14},"search_enabled":true,"workspace_scope_org_invites":false,"s3_storage_enabled":true}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.smith.langchain.com/commits/rlm/rag-prompt/latest
  response:
    body:
      string: '{"commit_hash":"50442af133e61576e74536c6556cefe1fac147cad032f4377b60c436e6cdcb6e","manifest":{"id":["langchain","prompts","chat","ChatPromptTemplate"],"lc":1,"type":"constructor","kwargs":{"messages":[{"id":["langchain","prompts","chat","HumanMessagePromptTemplate"],"lc":1,"type":"constructor","kwargs":{"prompt":{"id":["langchain","prompts","prompt","PromptTemplate"],"lc":1,"type":"constructor","kwargs":{"template":"You
        are an assistant for question-answering tasks. Use the following pieces of
        retrieved context to answer the question. If you don''t know the answer, just
        say that you don''t know. Use three sentences maximum and keep the answer
        concise.\nQuestion: {question} \nContext: {context} \nAnswer:","input_variables":["question","context"],"template_format":"f-string"}}}}],"input_variables":["question","context"]}},"examples":[]}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
