interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.smith.langchain.com/info
  response:
    body:
      string: '{"version":"0.7.29","license_expiration_time":null,"batch_ingest_config":{"scale_up_qsize_trigger":1000,"scale_up_nthreads_limit":16,"scale_down_nempty_trigger":4,"size_limit":100,"size_limit_bytes":20971520},"instance_flags":{"generate_ai_query_enabled":true,"org_creation_disabled":false,"show_ttl_ui":true,"trace_tier_duration_days":{"longlived":400,"shortlived":14},"search_enabled":true,"workspace_scope_org_invites":false,"s3_storage_enabled":true}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.smith.langchain.com/commits/wfh/llm-compiler/latest
  response:
    body:
      string: '{"commit_hash":"24623d82475c1ceedb479352cc401d385b7714a238d8b0b8189ed4c7884865fb","manifest":{"id":["langchain","prompts","chat","ChatPromptTemplate"],"lc":1,"type":"constructor","kwargs":{"messages":[{"id":["langchain","prompts","chat","SystemMessagePromptTemplate"],"lc":1,"type":"constructor","kwargs":{"prompt":{"id":["langchain","prompts","prompt","PromptTemplate"],"lc":1,"type":"constructor","kwargs":{"template":"Given
        a user query, create a plan to solve it with the utmost parallelizability.
        Each plan should comprise an action from the following {num_tools} types:\n{tool_descriptions}\n{num_tools}.
        join(): Collects and combines results from prior actions.\n\n - An LLM agent
        is called upon invoking join() to either finalize the user query or wait until
        the plans are executed.\n - join should always be the last action in the plan,
        and will be called in two [...]
