interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.smith.langchain.com/info
  response:
    body:
      string: '{"version":"0.7.29","license_expiration_time":null,"batch_ingest_config":{"scale_up_qsize_trigger":1000,"scale_up_nthreads_limit":16,"scale_down_nempty_trigger":4,"size_limit":100,"size_limit_bytes":20971520},"instance_flags":{"generate_ai_query_enabled":true,"org_creation_disabled":false,"show_ttl_ui":true,"trace_tier_duration_days":{"longlived":400,"shortlived":14},"search_enabled":true,"workspace_scope_org_invites":false,"s3_storage_enabled":true}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.smith.langchain.com/commits/hwchase17/self-discovery-select/latest
  response:
    body:
      string: '{"commit_hash":"aac35641bb502111e2646cb990ff7f7286d0a27e2b4f855a6e9bb6aac982dfa2","manifest":{"id":["langchain","prompts","prompt","PromptTemplate"],"lc":1,"type":"constructor","kwargs":{"template":"Select
        several reasoning modules that are crucial to utilize in order to solve the
        given task:\n\nAll reasoning module descriptions:\n{reasoning_modules}\n\nTask:
        {task_description}\n\nSelect several modules are crucial for solving the task
        above:\n","input_variables":["reasoning_modules","task_description"],"template_format":"f-string","partial_variables":{}}},"examples":[]}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.smith.langchain.com/commits/hwchase17/self-discovery-adapt/latest
  response:
    body:
      string: '{"commit_hash":"ce534f9bab8a6de4ed0ff159dec195f34e58bdf3fe2b3d0a29f7fa150d7bb902","manifest":{"id":["langchain","prompts","prompt","PromptTemplate"],"lc":1,"type":"constructor","kwargs":{"template":"Rephrase
        and specify each reasoning module so that it better helps solving the task:\n\nSELECTED
        module descriptions:\n{selected_modules}\n\nTask: {task_description}\n\nAdapt
        each reasoning module description to better solve the task:\n","input_variables":["selected_modules","task_description"],"template_format":"f-string","partial_variables":{}}},"examples":[]}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.smith.langchain.com/commits/hwchase17/self-discovery-structure/latest
  response:
    body:
      string: '{"commit_hash":"e69f947bb29bb15f89671d89fde030ba191567e455f6acada6773df22f3a1ffa","manifest":{"id":["langchain","prompts","prompt","PromptTemplate"],"lc":1,"type":"constructor","kwargs":{"template":"Operationalize
        the reasoning modules into a step-by-step reasoning plan in JSON format:\n\nHere''s
        an [...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.smith.langchain.com/commits/hwchase17/self-discovery-reasoning/latest
  response:
    body:
      string: '{"commit_hash":"483407076245bb2849eda5b87ca0cf15e32e5e4d7a37e80ee7ee4ef465245de3","manifest":{"id":["langchain","prompts","prompt","PromptTemplate"],"lc":1,"type":"constructor","kwargs":{"template":"Follow
        the step-by-step reasoning plan in JSON to correctly solve the task. Fill
        in the values following the keys by reasoning specifically about the task
        given. Do not simply rephrase the keys.\n    \nReasoning Structure:\n{reasoning_structure}\n\nTask:
        {task_description}","input_variables":["reasoning_structure","task_description"],"template_format":"f-string","partial_variables":{}}},"examples":[]}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
