interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.smith.langchain.com/info
  response:
    body:
      string: '{"version":"0.7.29","license_expiration_time":null,"batch_ingest_config":{"scale_up_qsize_trigger":1000,"scale_up_nthreads_limit":16,"scale_down_nempty_trigger":4,"size_limit":100,"size_limit_bytes":20971520},"instance_flags":{"generate_ai_query_enabled":true,"org_creation_disabled":false,"show_ttl_ui":true,"trace_tier_duration_days":{"longlived":400,"shortlived":14},"search_enabled":true,"workspace_scope_org_invites":false,"s3_storage_enabled":true}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.smith.langchain.com/commits/langchain-ai/rag-answer-vs-reference/latest
  response:
    body:
      string: '{"commit_hash":"91188455a4d936aa5b62ab17ccf56076b60df8b3e700629c91d741287390f144","manifest":{"id":["langchain_core","prompts","structured","StructuredPrompt"],"lc":1,"type":"constructor","kwargs":{"schema_":{"type":"object","title":"Grade","required":["Score","Explanation"],"properties":{"Score":{"type":"integer","description":"Provide
        the score:"},"Explanation":{"type":"string","description":"Explain your reasoning
        for the score:"}},"description":"Grade the quiz based upon the above criteria
        with a score and your explanation for the score."},"messages":[{"id":["langchain","prompts","chat","SystemMessagePromptTemplate"],"lc":1,"type":"constructor","kwargs":{"prompt":{"id":["langchain","prompts","prompt","PromptTemplate"],"lc":1,"type":"constructor","kwargs":{"template":"You
        are a teacher grading a quiz. \n\nYou will be given a QUESTION, the GROUND
        TRUTH (correct) ANSWER, and the STUDENT ANSWER. \n\nHere is the grade criteria
        to follow:\n(1) Grade the student answers based ONLY on their factual accuracy
        relative to the ground truth answer. \n(2) Ensure that the student answer
        does not contain any conflicting statements.\n(3) It is OK if the student
        answer contains more information than the ground truth answer, as long as
        it is factually accurate relative to the  ground truth answer.\n\nScore:\nA
        score of 1 means that the student''s answer meets all of the criteria. This
        is the highest (best) score. \nA score of 0 means that the student''s answer
        does not meet all of the criteria. This is the lowest possible score you can
        give.\n\nExplain your reasoning in a step-by-step manner to ensure your reasoning
        and conclusion are correct. \n\nAvoid simply stating the correct answer at
        the outset.","input_variables":[],"template_format":"mustache"}}}},{"id":["langchain","prompts","chat","HumanMessagePromptTemplate"],"lc":1,"type":"constructor","kwargs":{"prompt":{"id":["langchain","prompts","prompt","PromptTemplate"],"lc":1,"type":"constructor","kwargs":{"template":"QUESTION:
        {{question}}\nGROUND TRUTH ANSWER: {{correct_answer}}\nSTUDENT ANSWER: {{student_answer}}","input_variables":["question","correct_answer","student_answer"],"template_format":"mustache"}}}}],"input_variables":["question","correct_answer","student_answer"]}},"examples":[]}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
