interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.smith.langchain.com/info
  response:
    body:
      string: '{"version":"0.7.29","license_expiration_time":null,"batch_ingest_config":{"scale_up_qsize_trigger":1000,"scale_up_nthreads_limit":16,"scale_down_nempty_trigger":4,"size_limit":100,"size_limit_bytes":20971520},"instance_flags":{"generate_ai_query_enabled":true,"org_creation_disabled":false,"show_ttl_ui":true,"trace_tier_duration_days":{"longlived":400,"shortlived":14},"search_enabled":true,"workspace_scope_org_invites":false,"s3_storage_enabled":true}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.smith.langchain.com/commits/wfh/web-voyager/latest
  response:
    body:
      string: '{"commit_hash":"8b9276048be8aec78203e8c45c9e15bc3a46e4b3275b05ef727563a2887ebaab","manifest":{"id":["langchain","prompts","chat","ChatPromptTemplate"],"lc":1,"type":"constructor","kwargs":{"messages":[{"id":["langchain","prompts","chat","SystemMessagePromptTemplate"],"lc":1,"type":"constructor","kwargs":{"prompt":[{"id":["langchain","prompts","prompt","PromptTemplate"],"lc":1,"type":"constructor","kwargs":{"template":"Imagine
        you are a robot browsing the web, just like humans. Now you need to complete
        a task. In each iteration, you will receive an Observation that includes a
        screenshot of a webpage and some texts. This screenshot will\nfeature Numerical
        Labels placed in the TOP LEFT corner of each Web Element. Carefully analyze
        the visual\ninformation to identify the Numerical Label corresponding to the
        Web Element that requires interaction, then follow\nthe gu[...]
