.agent-layout {
    display: flex;
    flex-wrap: nowrap;
    gap: 2rem;
    align-items: flex-start;
    margin-top: 1rem;
}

.agent-graph-features {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    border: 1px solid var(--md-default-fg-color--lightest);
    border-radius: 0.5rem;
    background-color: var(--md-default-bg-color);
    max-width: 300px;
    flex-shrink: 0;
}

.agent-graph-features label {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    gap: 0.5rem;
    cursor: pointer;
    color: var(--md-typeset-color);
}

.agent-graph-features input[type="checkbox"] {
    accent-color: var(--md-accent-fg-color);
    transform: scale(1.2);
}

.agent-graph-container {
    flex: 1 1 50%;
    max-width: 70%;
    height: auto;
    /* height: 500px; Fixed height */
    overflow: auto;
    padding: 1rem;
    border: 1px solid var(--md-default-fg-color--lightest);
    border-radius: 0.5rem;
    background-color: var(--md-default-bg-color);
    box-sizing: border-box;
}

.agent-layout h3 {
    margin: 0px;
}

#agent-graph {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#agent-graph > svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
}