[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain-openai = "*"
langchain-community = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.11"
